@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fdfdfd;
  border-radius: 5px;
  box-shadow: 0px 0px 4px gray, inset 0px 0px 2px gray;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
